<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users}">- TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div>
    <div class="container text-center">
        <div>
            <h1 th:text="#{list.users}"></h1>
        </div>
        <div>
            <table class="table table-striped table-boarded">
                <thead class="thead-dark">
                <tr>
                    <form th:action="@{/user/list}">
                        <span th:text="#{search.user}"></span>
                        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
                        <input type="submit" value="Search"/>
                        &nbsp;
                        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>


                    </form>
                    &nbsp; &nbsp; <a th:href="@{/user/list}" class="btn btn-info" th:text="#{go.back}"> </a>
                    &nbsp;
                    &nbsp;
                    <th></th>
                    &nbsp;
                    <th th:text="#{first.name}"></th>
                    <th th:text="#{last.name}"></th>
                    <th th:text="#{reports.by.user}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,row: ${listUsers}">

                    <td th:text="${row.count}">/td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last name</td>
                    <td><a th:href="@{'/report/all/' + ${user.userId}}" class="btn btn-info" th:text="#{view}"> </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div> &nbsp</div>
        <nav aria-label="Page navigation example">
            <div th:if="${totalPages > 1}">
                <div class="pagination">
                    <div class="col-sm-3">
                        Total Rows:[[${totalReports}]]
                    </div>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${page !=i}"
                           th:href="@{/user/list(page=${i})}">[[${i}]]</a>
                        <span th:unless="${page != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                    <span>
                        <a th:if="${page < totalPages}"
                           th:href="@{/user/list(page=${page+1})}">Next</a>
                        <span th:unless="${page < totalPages}" th:text="#{next}"> </span>&nbsp; &nbsp;
                    </span>
                    <span>
                        <a th:if="${page < totalPages}"
                           th:href="@{/user/list(page=${totalPages})}">Last</a>
                        <span th:unless="${page < totalPages}" th:text="#{last}"> </span>&nbsp; &nbsp;
                    </span>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>