<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.user}">- Tax Service </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 th:text="#{user}"></h2>

            <div class="my-3">
                <p><strong th:text="#{user.id}">:</strong> <span th:text="${user.userId}"></span></p>
                <p><strong th:text="#{email}">:</strong> <span th:text="${user.email}"></span></p>
                <p><strong th:text="#{first.name}">:</strong> <span th:text="${user.firstName}"></span></p>
                <p><strong th:text="#{last.name}">:</strong> <span th:text="${user.lastName}"></span></p>

            </div>
            <<button onclick="history.back()" class="btn btn-info" th:text="#{go.back}"></button>

        </div>
    </div>
</div>

</body>
<div th:insert="fragments/footer :: footer"></div>

</html>