<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" >

<body>

<footer th:fragment="footer" class="footer">
    <p>&copy; 2022 Sylwia Mlynarczyk taxService app</p>
    <div>
          <a href="?lang=en" th:text="#{lang.en}">English</a>    |
          <a href="?lang=pl" th:text="#{lang.pl}">Polish</a>     |
          <a href="?lang=ua" th:text="#{lang.ua}">Ukrainian</a>
    </div>
</footer>
</body>
</html>



