<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


xhtml
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-light" style="background-color: #e3f2fd;">
    <link integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" >Tax Service</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" th:href="@{/account}" th:text="#{account}"></a>
            </li>
            <li sec:authorize="hasAuthority('INSPECTOR')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{reports}"></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/" th:href="@{/report/all/}" th:text="#{all.reports}"> </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/" th:href="@{/report/submitted/}"th:text="#{submitted.reports}"></a>
                    <a class="dropdown-item" href="/" th:href="@{/report/rejected/}" th:text="#{rejected.reports}"></a>
                </div>
            </li>
            <li sec:authorize="hasAuthority('INSPECTOR')" class="nav-item active">
                <a class="nav-link" th:href="@{/user/list}" th:text="#{users}"></a>
            </li>
            <li sec:authorize="hasAuthority('INSPECTOR')" class="nav-item active">
                <a class="nav-link" th:href="@{/report/statistics}" th:text="#{statistics}"></a>
            </li>
            <li sec:authorize="hasAuthority('USER')" class="nav-item active">
                <a class="nav-link" th:href="@{/report/upload}" th:text="#{add.report}"></a>
            </li>
            <li sec:authorize="hasAuthority('USER')" class="nav-item active">
                <a class="nav-link" th:href="@{/report/list}" th:text="#{all.reports}"></a>
            </li>
            <li sec:authorize="hasAuthority('INSPECTOR')" class="nav-item active">
                <a class="nav-link" th:href="@{/report/archives}" th:text="#{archives}"></a>
            </li>
            <li sec:authorize="hasAuthority('USER')" class="nav-item active">
                <a class="nav-link" th:href="@{/report/archives}" th:text="#{archives}"></a>
            </li>
        </ul>
    </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary my-2 my-sm-0" th:text="#{sign.out}"></button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>


