<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Account - Tax Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>

<div class="container text-center">


    <form>
        &nbsp;
        <h2 class="center" th:text="#{hello}">:</h2><h2>
            <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </h2>
        &nbsp;
        &nbsp;
        <p class="center" th:text="#{first.name}">: </p><b>[[${#request.userPrincipal.principal.firstName}]]</b>
        &nbsp;
        <p class="center" th:text="#{last.name}"> :</p> <b>[[${#request.userPrincipal.principal.lastName}]]</b>
        &nbsp;
        <p class="center" th:text="#{email}">:</p> <b>[[${#request.userPrincipal.principal.email}]]</b>

    </form>

</div>


</body>
<div th:insert="fragments/footer :: footer"></div>

</html>