<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
div {text-align: center;}
    </style>
</head>
<body>
<div class="center">
    <h1 th:text="#{something.went.wrong}"> Something went wrong! </h1>
    <h2 th:text="#{we.are.working.on.it}">We are working on it</h2>
    <a th:href="@{/}" th:text="#{go.home}"> Go Home</a>
</div>
</body>
</html>