<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.page}"> - TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>

    <div class="container">
        <div class="hero-unit">

            <p>

            </p>

                &nbsp;

                &nbsp;

            <section class="w3-container w3-center w3-content" style="max-width:600px">
                <h2 class="w3-wide">Tax Service</h2>
                <p class="w3-opacity"><i>Inspection</i></p>
                <p class="w3-justify">We are responsible for tax inspection. You can submit report and we check everything and send information about accepting or rejecting.</p>
            </section>
            &nbsp;


            <img src="/images/tax.jpg" alt="tax" width="300" height="300" class="center">

            &nbsp;

            <section class="center" sec:authorize="!isAuthenticated()" >
                &nbsp;

                <p class="w3-opacity">
                    <i>To get started, you need an account in the system.
                    </i>
                    &nbsp;
                    <a th:href="@{/registration-view}" class="btn btn-large btn-success"  th:text="#{create.account}"></a>
                    &nbsp;

                </p>
                <p class="w3-opacity">
                    <i>If you have an account in the system, log in with your email address and password.
                    </i>
                    &nbsp;
                    <a th:href="@{/login}" class="btn btn-large btn-success" th:text="#{login}"></a>
                    &nbsp;

                </p>
            </section>
            &nbsp;

        </div>
    </div>


</body>
<div th:insert="fragments/footer :: footer"></div>

</html>