<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration}">- TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>

<div class="container text-center">
    &nbsp;
    &nbsp;
    <h3 th:text="#{success.register}"></h3>

    &nbsp;
    &nbsp;
    <h4><a th:href="@{/login}" th:text="#{click.login}"></a></h4>
    &nbsp;
</div>

</body>
<div th:insert="fragments/footer :: footer"></div>

</html>