<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sign.up}">- Tax Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>

<div>
    <div class="container text-center">
        <div>
            <h1 th:text="#{sign.up}"> </h1>
        </div>
        <div>
            <h3><a th:href="@{/registration-view}">Register</a></h3>
        </div>
        &nbsp;
            <span th:if="${errorMessage}"  th:text="${errorMessage}" class="alert alert-danger" role="alert">
                User already exists !</span>
        &nbsp;
        &nbsp;

        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class=m-3>


                <div clas="form-group row">
                    <label class="col-form-label col-4" th:text="#{first.name}"></label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{firstName}" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>
                </div>

                <div clas="form-group row">
                    <label class="col-form-label col-4" th:text="#{last.name}"></label>
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{lastName}" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                    </div>
                </div>
                <div clas="form-group row">
                    <label class="col-form-label col-4" th:text="#{email}"></label>
                    <div class="col-8">
                        <input type="email" class="form-control" th:field="*{email}" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                    </div>
                </div>
                <div clas="form-group row">
                    <label class="col-form-label col-4" th:text="#{password}"></label>
                    <div class="col-8">
                        <input type="password" class="form-control" th:field="*{password}" required>
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                    </div>
                </div>
                &nbsp;
                <div>
                    <button type="submit" class="btn btn-primary" th:text="#{sign.up}"></button>
                </div>
                &nbsp;
                <div class="container signin">
                    <p th:text="#{already.have.an.account}"> <a th:href="@{/login}" th:text="#{click.login}"> </a></p>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<div th:insert="fragments/footer :: footer"></div>

</html>