<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add.report}"> - TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 th:text="#{report.created}"></h2>
        </div>
    </div>
</div>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>

