<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{archives}">- TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div class="container text-center">
    <div>
        <h1 th:text="#{list.reports.archives}"></h1>
    </div>
    <div>
        <table class="table table-striped table-boarded">
            <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    <a th:href="@{/report/archives(page=${i},sortField=type,sortDir=${reverseSortDir})}"
                       th:text="#{type}"></a>
                </th>
                <th sec:authorize="hasAuthority('INSPECTOR')" th:text="#{created.by}"></th>
                <th sec:authorize="hasAuthority('INSPECTOR')" th:text="#{view.user}"></th>
                <th th:text="#{status}"></th>
                <th th:text="#{examined.date}"></th>
                <th th:text="#{view}"></th>
                <th th:text="#{notes}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report, row: ${reports}">
                <th th:text="${row.count}"></th>
                <th th:text="${report.type.getName()}"></th>
                <td sec:authorize="hasAuthority('INSPECTOR')" th:text="${report.user.getFullName()}"></td>
                <td sec:authorize="hasAuthority('INSPECTOR')"><a th:href="@{/user/view(userId=${report.user.userId})}"
                                                                 class="btn btn-info" th:text="#{view}"></a></td>
                <th th:text="${report.reportStatus.getName()}"></th>
                <th th:text="${#temporals.format(report.examinedDate, 'dd-MM-yyyy')}">
                <td><a th:href="@{/report/view(reportId=${report.id})}" class="btn btn-info" th:text="#{view}"></a></td>
                <th th:text="${report.notes}"></th>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <div th:if="${totalPages > 1}">
                <div class="pagination">
                    <div class="col-sm-3">
                        Total Rows:[[${totalReports}]]
                    </div>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${page !=i}"
                           th:href="@{/report/archives(page=${i},sortField=${sortField},sortDirection=${sortDirection})}">[[${i}]]</a>
                        <span th:unless="${page != i}">[[${i}]]</span> &nbsp; &nbsp;</span>
                    <span><a th:if="${page < totalPages}"
                             th:href="@{/report/archives(page=${page+1},sortField=${sortField},sortDirection=${sortDirection})}">Next</a>
                        <span th:unless="${page < totalPages}" th:text="#{next}"> </span>&nbsp; &nbsp;
                    </span>
                    <span>
                        <a th:if="${page < totalPages}"
                           th:href="@{/report/archives(page=${totalPages},sortField=${sortField},sortDirection=${sortDirection})}">Last</a>
                        <span th:unless="${page < totalPages}" th:text="#{last}"> </span>&nbsp; &nbsp;
                    </span>
                </div>
            </div>
        </nav>
    </div>
    <div> &nbsp</div>
</div>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>
