<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{all.reports}">TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div>
    <div class="container text-center">
        <div>
            <h1 th:text="#{all.reports}"></h1>
        </div>
        <div>
            <table class="table table-striped table-boarded">
                <thead class="thead-dark">
                <tr>
                    <form th:action="@{/report/list(page=${i},keyword=${keyword})}">
                        <span th:text="#{search.by.status.or.type}">Search by status or choose type(A/B):></span>
                        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/> <input
                            type="submit" value="Search"/>
                        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()"/>
                        &nbsp;<a th:href="@{/report/list}" class="btn btn-info" th:text="#{go.back}"> </a>
                    </form>
                    <th></th>
                    <th th:text="#{type}"></a>
                    </th>
                    <th th:text="#{title}"></th>
                    <th th:text="#{status}"></a>
                    </th>
                    <th th:text="#{created.date}"></a>
                    </th>
                    <th th:text="#{submitted.date}"></a>
                    </th>
                    <th th:text="#{examined.date}"></th>
                    <th th:text="#{view.report}"></th>
                    <th th:text="#{edit}"></th>
                    <th th:text="#{delete}"></th>
                    <th th:text="#{comments}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report,row: ${reports}">
                    <th th:text="${row.count}">
                    <th th:text="${report.type.getName()}">
                    <th th:text="${report.title}">
                    <th th:text="${report.reportStatus.getName()}">
                    <th th:text="${#temporals.format(report.createdDate, 'dd-MM-yyyy')}"></th>
                    <td>
                        <form th:action="@{/report/submit(reportId=${report.id})}" th:object="${report}" method="post">
                            <span th:if="${report.submittedDate == null}"><input type="submit" class="btn btn-info"
                                                                                 value="Submit"></span>
                            <span th:unless="${report.submittedDate == null}"
                                  th:text="${#temporals.format(report.submittedDate, 'dd-MM-yyyy')}"></span>
                        </form>
                    </td>
                    <th th:text="${#temporals.format(report.examinedDate, 'dd-MM-yyyy')}">
                    <td>
                        <a th:href="@{/report/view(reportId=${report.id})}" class="btn btn-info" th:text="#{view}"></a>
                    </td>
                    <td>
                        <form th:action="@{/report/update-view(reportId=${report.id})}" th:object="${report}"
                              method="post">
                            <span th:if="${report.reportStatus.getName() != 'ACCEPTED'} and ${report.reportStatus.getName() != 'SUBMITTED' }">
                                <input type="submit" class="btn btn-info" value="edit">
                            </span>
                            <span th:unless="${report.reportStatus.getName() != 'ACCEPTED'} and ${report.reportStatus.getName() != 'SUBMITTED' }">
                            </span>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/report/delete(reportId=${report.id})}" th:object="${report}"
                              method="post">
                            <span th:if="${report.reportStatus.getName() != 'ACCEPTED'}
                                and ${report.reportStatus.getName() != 'SUBMITTED' }"><input type="submit"
                                                                                             class="btn btn-warning"
                                                                                             value="delete"></span>
                            <span th:unless="${report.reportStatus.getName() != 'ACCEPTED'}
                                and ${report.reportStatus.getName() != 'SUBMITTED' }"></span>
                        </form>
                    <th th:text="${report.notes}">
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <div th:if="${totalPages > 1}">
                    <div class="pagination">
                        <div class="col-sm-3">
                            Total Rows:[[${totalReports}]]
                        </div>
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${page !=i}"
                               th:href="@{/report/list(page=${i},keyword=${keyword})}">[[${i}]]</a>
                            <span th:unless="${page != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                        <span> <a th:if="${page < totalPages}"
                                  th:href="@{/report/list(page=${page+1},keyword=${keyword})}">Next</a>
                         <span th:unless="${page < totalPages}">Next</span>&nbsp; &nbsp;
                        </span>
                        <span><a th:if="${page < totalPages}"
                                 th:href="@{/report/list(page=${totalPages},keyword=${keyword})}">Last</a>
                            <span th:unless="${page < totalPages}" th:text="${last}}"> </span>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>
