<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Refusal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<form th:action="@{/report/reject}" th:object="${report}" method="post">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 th:text="#{refusal}>"></h2>
                <p><strong th:text="#{created.date}"> </strong> <span
                        th:text="${#temporals.format(report.createdDate, 'dd-MM-yyyy')}" aria-readonly="true"></span>
                </p>
                <div class="form-group">
                    <input id="id" th:field="*{id}" type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="submittedDate" th:text="${#temporals.format(report.submittedDate, 'dd-MM-yyyy')}"
                           type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="examinedDate" th:text="${#temporals.format(report.examinedDate, 'dd-MM-yyyy')}"
                           type="hidden"/>
                </div>
                <p><strong th:text="#{title}"> </strong> <span th:text="*{title}"></span></p>
                <p><strong th:text="#{description}"> </strong> <span th:text="*{description}"></span></p>
                <p><strong th:text="#{price.pln}"> </strong> <span th:text="*{value}"></span></p>
                <p><strong th:text="#{tax}"> </strong> <span th:text="*{tax}"></span></p>
                &nbsp;

                &nbsp;
                <span th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></span>
                &nbsp;
                <div class="form-group">
                    <label th:text="#{reason.rejection}">Reason for rejection</label>
                    <textarea class="form-control" th:field="*{notes}" rows="3"></textarea>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></div>

                </div>
                &nbsp;
                <input type="submit" class="btn btn-info" th:value="#{reject}">
                <input type="reset" class="btn btn-info" th:value="#{reset}"/>

                <button onclick="history.back()" class="btn btn-info" th:text="#{go.back}"></button>

            </div>
        </div>
    </div>
</form>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>