<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{statistics}">- TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div>
    <div class="container text-center">
        <div>
            <h1 th:text="#{statistics}"></h1>
        </div>
        <div>

            <p th:text="#{all.reports}">: </p><span th:text="${countAll}"></span>
            <p th:text="#{created.reports}">: </p>
            <p><span th:text="${countCreated}"></span></p>
            <p th:text="#{submitted.reports}">: </p>
            <p><span th:text="${countSubmitted}"></span></p>
            <p th:text="#{accepted.reports}">:</p>
            <p><span th:text="${countAccepted}"></span></p>
            <p th:text="#{not.accepted.reports}">:</p>
            <p><span th:text="${countNotAccepted}"></span></p>
        </div>

        <button onclick="history.back()" class="btn btn-info" th:text="#{go.back}"></button>

    </div>


</div>

</body>
<div th:insert="fragments/footer :: footer"></div>

</html>