<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{update.report}">- Tax service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>


<form th:action="@{/report/update}" th:object="${report}" method="post">


    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 th:text="#{update.report}"></h2>
                <p><strong>ID:</strong> <span th:text="${report.id}" aria-readonly="true"></span></p>
                <p><strong th:text="#{type}"> </strong> <span th:text="${report.type.getName()}"
                                                              aria-readonly="true"></span></p>
                <div class="form-group">
                    <input id="id" th:field="*{id}" type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="createdDate" th:text="${#temporals.format(report.createdDate, 'dd-MM-yyyy')}"
                           type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="submittedDate" th:text="${#temporals.format(report.submittedDate, 'dd-MM-yyyy')}"
                           type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="examinedDate" th:text="${#temporals.format(report.examinedDate, 'dd-MM-yyyy')}"
                           type="hidden"/>
                </div>
                <div class="form-group">
                    <input id="user.userId" th:field="*{user}" type="hidden"/>
                </div>


                <div class="form-group">
                    <label th:text="#{title}"></label>
                    <textarea class="form-control" th:field="*{title}"></textarea>
                </div>
                <div class="form-group">
                    <label th:text="#{description}"></label>
                    <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label th:text="#{price.pln}"></label>
                        <input type="number" step="any" class="form-control" th:field="*{value}">
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label th:text="#{tax}"></label>
                    <select class="form-control" th:field="*{tax}">
                        <option value="0" th:text="#{choose}"></option>
                        <option value="23">23%</option>
                        <option value="8">8%</option>
                        <option value="7">7%</option>
                        <option value="5">5%</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-info" value="submit">
                <input type="reset" class="btn btn-info" value="reset"/>

            </div>
        </div>

    </div>
</form>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>