<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{report}">- Tax service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 th:text="#{report}"></h2>

            <div class="my-3">
                <p><strong th:text="#{title}"> </strong> <span th:text="${report.type.getName()}"></span></p>
                <p><strong th:text="#{title}">:</strong> <span th:text="${report.title}"></span></p>
                <p><strong th:text="#{description}">:</strong> <span th:text="${report.description}"></span></p>
                <p><strong th:text="#{price.pln}">:</strong> <span th:text="${report.value}"></span></p>
                <p><strong th:text="#{tax}">:</strong> <span th:text="${report.tax}"></span></p>
                <p><strong th:text="#{created.date}">:</strong> <span th:text="${#temporals.format(report.createdDate, 'dd-MM-yyyy')}"></span></p>
            </div>
            <<button onclick="history.back()" class="btn btn-info" th:text="#{go.back}"></button>

        </div>
    </div>
</div>

</body>
<div th:insert="fragments/footer :: footer"></div>

</html>