<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{submitted}">- TaxService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/header::header}"></nav>
<div>
    <div class="container text-center">
        <div>
            <h1 th:text="#{submitted}"></h1>
        </div>
        <div>
            <table class="table table-striped table-boarded">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>
                        <a th:href="@{/report/submitted(page=${i},sortField=type,sortDir=${reverseSortDir})}"
                           th:text="#{type}"></a>
                    </th>
                    <th th:text="#{title}"></th>
                    <th th:text="#{status}"></th>
                    <th th:text="#{view.report}"></th>
                    <th th:text="#{actions}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report,row: ${reports} ">
                    <th th:text="${row.count}">
                    <th th:text="${report.type.getName()}">
                    <th th:text="${report.title}">
                    <th th:text="${report.reportStatus.getName()}">
                    <td>
                        <a th:href="@{/report/view(reportId=${report.id})}" class="btn btn-info" th:text="#{view}"></a>
                    </td>
                    <td>
                        <form th:action="@{/report/accept(reportId=${report.id})}" th:object="${report}" method="post">
                            <span th:if="${report.examinedDate == null}">
                             <input type="submit" class="btn btn-success" value="accept"></a>
                                <a th:href="@{/report/reject(reportId=${report.id})}" class="btn btn-danger"
                                   th:text="#{reject}"></a></span>
                            <span th:if="${report.examinedDate != null}" th:text="${report.examinedDate}"></span>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <div th:if="${totalPages > 1}">
                    <div class="pagination">
                        <div class="col-sm-3">
                            Total Rows:[[${totalReports}]]
                        </div>
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${page !=i}"
                               th:href="@{/report/submitted(page=${i},sortField=${sortField},sortDirection=${sortDirection})}">[[${i}]]</a>
                            <span th:unless="${page != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                        <span>
                            <a th:if="${page < totalPages}"
                               th:href="@{/report/submitted(page=${page+1},sortField=${sortField},sortDirection=${sortDirection})}">Next</a>
                            <span th:unless="${page < totalPages}" th:text="#{next}"> </span>&nbsp; &nbsp;
                        </span>
                        <span>
                            <a th:if="${page < totalPages}"
                               th:href="@{/report/submitted(page=${totalPages},sortField=${sortField},sortDirection=${sortDirection})}">Last</a>
                            <span th:unless="${page < totalPages}" th:text="#{last}"> </span>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
        <div> &nbsp</div>
    </div>
</div>
</body>
<div th:insert="fragments/footer :: footer"></div>
</html>